Source: jasmine-gjs
Section: devel
Priority: optional
Maintainer: Philip Chimento <philip.chimento@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               gir1.2-glib-2.0,
               gir1.2-gtk-3.0,
               gjs (>= 1.39.3)
Standards-Version: 3.9.5
Homepage: https://github.com/ptomato/jasmine-gjs

Package: jasmine-gjs
Architecture: all
Depends: ${misc:Depends},
         gir1.2-glib-2.0,
         gjs (>= 1.39.3)
Description: Behavior-driven development framework for GJS
 This module allows you to run Jasmine specs for your GJS code. The output will
 be displayed in your terminal.
