#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with autoreconf

# Print out test log on failure, so that we can diagnose failures on OBS
override_dh_auto_test:
	dh_auto_test || (find . -name test-suite.log | xargs cat ; exit 1)
